/*reset css*/
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	color: #333;
	text-decoration: none;
}
/*自定义字体图标*/
/*1.通过@font-face定义自己的字体*/
@font-face {
    /*2.申明自己的字体名称*/
    font-family: 'wjs';
    /*3.引入字体文件（约束某一段字符代码什么图案）*/
    src:
    url(../fonts/MiFie-Web-Font.svg) format('svg'),
    url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
    url(../fonts/MiFie-Web-Font.woff) format('woff');
}
/*4.怎么使用维护性更好*/
.wjs_icon{
    font-family: wjs;
}
.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_name::before{
    content: "\e93e";
}
.wjs_icon_dollar::before{
    content: "\e903";
}
.wjs_icon_clock::before{
    content: "\e906";
}
.wjs_icon_video::before{
    content: "\e905";
}
.wjs_icon_news_01::before {
    content: "\e90e";
}

.wjs_icon_news_02::before {
    content: "\e90f";
}

.wjs_icon_news_03::before {
    content: "\e910";
}

.wjs_icon_news_04::before {
    content: "\e911";
}

.wjs_icon_partner01::before {
    content: "\e946";
}

.wjs_icon_partner02::before {
    content: "\e92f";
}

.wjs_icon_partner03::before {
    content: "\e92e";
}

.wjs_icon_partner04::before {
    content: "\e92a";
}

.wjs_icon_partner05::before {
    content: "\e929";
}

.wjs_icon_partner06::before {
    content: "\e931";
}

.wjs_icon_partner07::before {
    content: "\e92c";
}

.wjs_icon_partner08::before {
    content: "\e92b";
}

.wjs_icon_partner09::before {
    content: "\e92d";
}

/*index css*/
/*顶部*/
.wjs_topBar{
	font-size: 12px;
	color: #666;
	border-bottom: 1px solid #ddd;
}
.wjs_topBar > .container > .row > div{
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.wjs_topBar > .container > .row > div~div{
	border-left: 1px solid #ccc;
}
.wjs_topBar .btn_rigister{
	border: none;
	background: #e92322;
	color: #fff;
	font-size: 12px;
	padding: 3px 12px;
}
.wjs_topBar .btn_login{
	font-size: 12px;
	color: #666;
}
.wjs_topBar .btn_login:hover{
	color: #666;
	text-decoration: none;
}
.wjs_app{
	display: block;
}
.wjs_app img{
	display: none;
}
.wjs_app:hover img{
	display: block;
	position: absolute;
	border: 1px solid #ccc;
	border-top: none;
	top: 40px;
	left: 50%;
	margin-left: -60px;
	z-index: 1000;
}
/*顶部结束*/


/*导航部分*/
.wjs_nav{
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid #ccc;
	z-index: 999999;
	background: #fff;
	/*由于加了affix,里面有定位,脱标了,所以宽度就不一样了*/
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 0;
}
.wjs_nav .wjs_icon_logo{
	color: #e92322;
	font-size: 50px;
	vertical-align: middle;
}
.wjs_nav .wjs_icon_name{
	color: #333;
	font-size: 36px;
	vertical-align: middle;
}
.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_nav .navbar-text {
    color: #777;
}
.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.wjs_nav .navbar-link {
    color: #777;
}
.wjs_nav .navbar-link:hover {
    color: #333;
}
.wjs_nav .btn-link {
    color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}

/*轮播图部分*/

.wjs_banner .pc_imgBox{
	display: block;
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.wjs_banner .m_imgBox{
	width: 100%;
	display: block;
}
.wjs_banner .m_imgBox img{
	width: 100%;
	display: block;
}


/*信息部分*/
.wjs_info{
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.wjs_info > .container{
	width: 900px;
}
@media (min-width: 768px) and (max-width:992px) {
	.wjs_info > .container{
		width: 750px;
	}
}
.wjs_info > .container > div > a{
	display: block;
	padding: 15px 0;
}
.wjs_info > .container > div > a:hover{
	color: #e92322;
}
.wjs_info > .container > div > a .wjs_icon_dollar{
	font-size: 30px;
}


/*预约模块*/
.wjs_block{
	border-bottom: 1px solid #ccc;
	padding: 40px 0;
}
.wjs_block > .container{
	width: 900px;
}
@media (min-width: 768px) and (max-width:992px) {
	.wjs_block > .container{
		width: 750px;
	}
}
@media (max-width: 768px) {
	.wjs_block > .container{
		width: 100%;
	}
}
.wjs_block .block{
	color: #e92322;
	border-bottom: 1px dashed #e92322;
}
.wjs_block a:hover{
	color: #e92322;
}
.wjs_block .wjs_icon{
	font-size: 20px;
}

/*产品模块*/
.wjs_product{
	padding: 20px 0;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.wjs_product .nav_tabs_parent{
	width: 100%;
	overflow: hidden;
}
.wjs_product .wjs_news .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.wjs_product .wjs_news .nav-tabs > li {
  float: left;
  margin-bottom: 0;
  margin-left: 15px;
}
.wjs_product .wjs_news .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 4px 4px 0 0;
}
.wjs_product .wjs_news .nav-tabs > li > a:hover {
  background: #f5f5f5;
}
.wjs_product .wjs_news .nav-tabs > li.active > a,
.wjs_product .wjs_news .nav-tabs > li.active > a:hover,
.wjs_product .wjs_news .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #f5f5f5;
  border: none;
  border-bottom: 3px solid #e92322;
}
.wjs_product .wjs_news .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_product .wjs_news .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_product .wjs_news .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_product .wjs_news .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_product .wjs_news .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_product .wjs_news .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_product .wjs_news .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_product .wjs_news .nav-tabs.nav-justified > .active > a,
.wjs_product .wjs_news .nav-tabs.nav-justified > .active > a:hover,
.wjs_product .wjs_news .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_product .wjs_news .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_product .wjs_news .nav-tabs.nav-justified > .active > a,
  .wjs_product .wjs_news .nav-tabs.nav-justified > .active > a:hover,
  .wjs_product .wjs_news .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

.product_box{
	display: block;
	width: 100%;
	height: 150px;
	background: #fff;
	margin-top: 30px;
	box-shadow: 3px 3px 5px #d8d8d8;
	color: #666;
}
.product_box:hover{
	color: #666;
}
.product_box .pro_left{
	overflow: hidden;
}
.product_box .pro_left h3{
	font-size: 16px;
	margin-top: 10px;
}
.product_box .pro_left p{
	font-size: 12px;
}
.product_box.active {
	background: #e92322;
	color: #fff;
	position: relative;
}
.product_box.active::before{
	content: '\e915';
	position: absolute;
	top: -7px;
	left: 0;
	font-family: 'wjs';
	font-size: 33px;
}
.product_box .pro_right{
	float: right;
	width: 80px;
	height: 150px;
	border-left: 1px dashed #ccc;
	text-align: center;
	position: relative;
}
.product_box .pro_right::before,
.product_box .pro_right::after{
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 6px;
	position: absolute;
	left: -6px;
	background: #f5f5f5;
}
.product_box .pro_right::before{
	top: -6px;
	box-shadow: 0 -2px 2px #d8d8d8 inset;
}
.product_box .pro_right::after{
	bottom: -6px;
	box-shadow: 0 2px 2px #d8d8d8 inset;
}
.product_box .pro_right .tips{
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
}
.product_box .pro_right .tips span{
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
}
.product_box .pro_right .tips .red{
	border: 1px solid #e92322;
	color: #e92322;
}
.product_box .pro_right .tips .green{
	border: 1px solid green;
	color: green;
}
.product_box .pro_right p:first-of-type{
	margin-top: 25px;
	color: #e92322;
}
.product_box.active .pro_right p:first-of-type{
	color: #fff;
}
.product_box .pro_right p:first-of-type b{
	font-size: 48px;
}
.product_box .pro_right p:first-of-type sub{
	bottom: 0;
}


/*新闻*/
.wjs_news{
	border-bottom: 1px solid #ccc;
	padding: 40px 0;
}
.wjs_news .wjs_news_title{
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.wjs_news .wjs_news_title::after{
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 3px;
	border: 1px solid #ccc;
	position: absolute;
	bottom: -3px;
	right: -6px;
}
.wjs_news .wjs_news_line{
	width: 1px;
	height: 100%;
	border: 1px dashed #ccc;
	position: absolute;
	left: 45px;
	top: 0;
}
.wjs_news .nav-tabs{
	border: none;
}
.wjs_news .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.wjs_news .nav-tabs > li:last-child a{
	margin-bottom: 0;
}
.wjs_news .nav-tabs > li > a {
  margin-right: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background: #ccc;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 0;
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 992px){
	.wjs_news .nav-tabs > li > a {
		margin: 30px 50px;
	}
}
@media (max-width: 768px){
	.wjs_news .nav-tabs > li {
		width: 25%;
	}
	.wjs_news .nav-tabs > li > a {
		margin: 30px auto;
	}
}
.wjs_news .nav-tabs > li > a:hover {
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active > a:hover,
.wjs_news .nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #e92322;
  border: none;
  border-bottom-color: transparent;
}
.wjs_news .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_news .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_news .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_news .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_news .nav-tabs.nav-justified > .active > a,
.wjs_news .nav-tabs.nav-justified > .active > a:hover,
.wjs_news .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_news .nav-tabs.nav-justified > .active > a,
  .wjs_news .nav-tabs.nav-justified > .active > a:hover,
  .wjs_news .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

.wjs_news .tab-content ul{
	list-style: none;
}
.wjs_news .tab-content ul li a{
	display: block;
	padding: 15px 0;
	color: #666;
}

/*合作伙伴*/
.wjs_partner{
	padding: 50px 0;
}
.wjs_partner ul{
	list-style: none;
	text-align: center;
	padding: 0;
}
.wjs_partner ul li{
	display: inline-block;
}
.wjs_partner ul li a{
	display: block;
	font-size: 70px;
	padding: 0 15px;
}
